# Configuration file
# Generated on 16/01/13 13.25

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=610033c3-c4cf-4103-b443-282863a5044c

    # Set to true to disable all reporting
    B:opt-out=false
}


